services:
  - type: web
    name: linkdrop-backend
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 8000

  - type: web
    name: linkdrop-frontend
    runtime: node
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm start
    plan: free
    envVars:
      - key: NEXT_PUBLIC_API_URL
        fromService:
          name: linkdrop-backend
          type: web
          property: host
      - key: NODE_VERSION
        value: 20
